<div class='row d-flex justify-content-end'>
    <button class='btn btn-info content-button active' routerLink='/add-data' routerLinkActive='active'>Add Data</button>
    <button class='btn btn-info content-button' routerLink='/recently-added' routerLinkActive='active'>Recently Added</button>
    <button class='btn btn-info content-button' routerLink='/print' routerLinkActive='active'>Print</button>
    <button class='btn btn-info content-button' routerLink='/share' routerLinkActive='active'>Share</button>
  </div>

  <h2 class="page-header">Add Data</h2>

  <dropzone [message]="'Click or drag images here to upload'"></dropzone>


