<!--<div class='row d-flex justify-content-end'>
  <button class='btn btn-info content-button active' routerLink='/dashboard' routerLinkActive='active'>Dashboard</button>
  <button class='btn btn-info content-button' routerLink='/add-data' routerLinkActive='active'>Data</button>
  <button class='btn btn-info content-button' routerLink='/community' routerLinkActive='active'>Community</button>
</div> -->

<!-- Photo Grid -->
<div class='row'>
  <div class='column'>

    <div class='card'>
      <div class='card-header'>
        Calendar
      </div>
      <div class='card-body'>
        <mwl-calendar-month-view [viewDate]="05/05/2018"></mwl-calendar-month-view>
      </div>
    </div>

    <div class='card'>
      <div class='card-header'>
        Featured
      </div>
      <div class='card-body'>
        <div id='viz1'></div>
      </div>
    </div>

    <div class='card'>
      <div class='card-header'>
        Featured
      </div>
      <div class='card-body'>
        <div id='viz2'></div>
      </div>
    </div>

  </div>
  <div class='column'>

    <div class='card'>
      <div class='card-header'>
        Featured
      </div>
      <div class='card-body'>
        <div id='viz3'></div>
      </div>
    </div>

    <div class='card'>
      <div class='card-header'>
        Featured
      </div>
      <div class='card-body'>
        <div id='viz4'></div>
      </div>
    </div>

  </div>
</div>
