<div class="row d-flex justify-content-end">
  <button class="btn btn-info content-button active" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
  <button class="btn btn-info content-button" routerLink="/add-data" routerLinkActive="active">Data</button>
  <button class="btn btn-info content-button" routerLink="/community" routerLinkActive="active">Community</button>
</div>

<!-- Photo Grid -->
<div class="row">
  <div class="column">

    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <img src="./assets/images/chart1.png" style="width:100%">
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <img src="./assets/images/chart3.png" style="width:100%">
      </div>
    </div>

  </div>
  <div class="column">

    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <img src="./assets/images/chart2.png" style="width:100%">
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <img src="./assets/images/chart4.png" style="width:100%">
      </div>
    </div>

  </div>
</div>
